.load{
    background-color: bisque;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: byebyeaside 2s 4.8s forwards;
}

.hiddenbordertop{
    width: 102%;
    height: 2px;
    background-color: bisque;
    position: absolute;
    top: -2px;
    animation: borderappeartop 2s 1s forwards;    
}

.hiddenborderbot{
    width: 102%;
    height: 2px;
    background-color: bisque;
    position: absolute;
    bottom: -2px;
    animation: borderappearbot 2s 1s forwards;
    z-index: 3;
}

.hiddenborderright{
    width: 2px;
    height: 102%;
    background-color: bisque;
    position: absolute;
    right: -2px;
    animation: borderappearright 3.5s 2.5s forwards;
}

.hiddenborderleft{
    width: 2px;
    height: 102%;
    background-color: bisque;
    position: absolute;
    left: -2px;
    animation: borderappearleft 3.5s 2.5s forwards;
}

.hiddenblack{
    width: 100%;
    height: 2px;
    background-color: #161616;
    position: absolute;
    top: 100%;
    animation: hiddenblackanim 1s 3s forwards;
}

.hiddenblack2{
    width: 100%;
    height: 100%;
    background-color: #161616;
    position: absolute;
    opacity: 0;
    animation: hiddenblackanim2 3s 4s forwards;
    z-index: 4;
}

.divload{
    border: 2px solid black;
    width: 30%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.load-text1{
    opacity: 0;
    animation: loadtext1  2s 0.5s forwards;
    font-size: 1.8rem;
    margin-bottom: 0px;
}

header{
    width: 100%;
}

body{
    background-color: black;
    height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    background-color: black;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.ul_navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black
}

a{
    list-style-type: none;
    text-decoration: none;
    color: antiquewhite;
}

.img_logo_nav{
    
}

.ul_navbar li{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3vh;
    padding-right: 3vh;
    transition-duration: 0.5s;
}

.ul_navbar li:hover{
    background-color: antiquewhite;
    color: black;
    border-radius: 25px;

}

.espacement{
    width: 100%;
    height: 50vh;
}

.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card_presentation{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    text-align: center;
    align-items: center;
    position: relative;
   
}

.jobcard{
    color: #BEB0A7;
    margin-bottom: 7%;
    position: absolute;
    top: -10%;
    opacity: 0;
    animation: bottomtext 1s forwards 1s;
}

.text_intro {
    color: aliceblue;
    margin-bottom: 7%;
    position: absolute;
    opacity: 0;
    animation: bottomtext2 1s forwards 2s;
}

.text_intro2 {
    color: aliceblue;
    margin-bottom: 7%;
    position: absolute;
    top: 10%;
    opacity: 0;
    animation: bottomtext3 1s forwards 2s;
    
}

.card_presentation h1{
    color: #BEB0A7;
}

.inputcv{
    background-color: #BEB0A7;
    border-radius: 3px;
    width: 40%;
    position: absolute;
    top: 15%;
    opacity: 0;
    animation: bottomtext4 1s forwards 3s;
    
}

#changing-text{
    color: white;
}

.reseaux_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reseaux_ul img{
    width: 35px;
    height: 35px;
    margin: 15%;
}

.reseaux{
    
    position: fixed;
    top: 65%;
    right: 94%;

}

/* CHAAAAAAAT */
.cat {
    position: relative;
    height: 170px;
    width: 192.1px;
}
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff;
}
.ear::before, .ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #161616;
}
.ear::after {
    transform-origin: 50% 100%;
}
.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
}
.ear--left::before, .ear--left::after {
    right: 10%;
}
.ear--left::after {
    transform: rotate(-45deg);
}
.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
}
.ear--right::before, .ear--right::after {
    left: 10%;
}
.ear--right::after {
    transform: rotate(45deg);
}
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #161616;
    border-radius: 50%;
}
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50Array/0Array 0 40% 40%;
    background: #161616;
    animation: blink 4s infinite ease-in;
}
@keyframes blink {
    0% {
        height: 0;
   }
    90% {
        height: 0;
   }
    92.5% {
        height: 100%;
   }
    95% {
        height: 0;
   }
    97.5% {
        height: 100%;
   }
    100% {
        height: 0;
   }
}
.eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
}
.eye--left {
    left: 0;
}
.eye--left::before {
    right: -5%;
}
.eye--right {
    right: 0;
}
.eye--right::before {
    left: -5%;
}
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: #161616;
    border-radius: 50%;
    animation: look-around 4s infinite;
}
@keyframes look-around {
    0% {
        transform: translate(0);
   }
    5% {
        transform: translate(50%, -25%);
   }
    10% {
        transform: translate(50%, -25%);
   }
    15% {
        transform: translate(-100%, -25%);
   }
    20% {
        transform: translate(-100%, -25%);
   }
    25% {
        transform: translate(0, 0);
   }
    100% {
        transform: translate(0, 0);
   }
}
.eye--left .eye-pupil {
    right: 30%;
}
.eye--right .eye-pupil {
    left: 30%;
}
.eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff;
}
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.cat{
    position: fixed;
    top: 90%;
    left: 90%;
    width: 4%;
    height: 5%;
}

/* CHAAAAAAAT */

.nom_card1 {
    opacity: 0;
    position: absolute;
    animation: appearname 1.5s forwards;
    top: 0%;
    opacity: 0;
}


@keyframes appearname {
   from{
    opacity: 0;
    top: -5%;
   }
   to{
    top: -20%;
    opacity: 1;
   }
}

@keyframes bottomtext {
    from{
        opacity: 0;
        top: -15%;
    }
    to{
        opacity: 1;
        top: -10%;
    }
}

@keyframes bottomtext2 {
    from{
        opacity: 0;
        top: -7%;
    }
    to{
        opacity: 1;
        top: 0%;
    }
}

@keyframes bottomtext3{
    from{
        opacity: 0;
        top: -10%;
    }
    to{
        opacity: 1;
        top: 10%;
    }
}

@keyframes bottomtext4{
    from{
        opacity: 0;
        top: 15%;
    }
    to{
        opacity: 1;
        top: 20%;
    }
}

@keyframes loadtext1{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes borderappeartop{
    0%{
        margin-left: 0%;
    }

    100%{
        margin-left: 210%;
    }
}

@keyframes borderappearbot{
    0%{
        margin-right: 0%;
    }

    100%{
        margin-right: 210%;
    }
}

@keyframes borderappearright{
    0%{
        margin-top: 0%;
    }

    100%{
        margin-top: 400%;
    }
}

@keyframes borderappearleft{
    0%{
        margin-bottom: 0%;
    }

    100%{
        margin-bottom: 400%;
    }
}

@keyframes hiddenblackanim {
    0%{
    }

    100%{
        height: 100%;
        top: 0%;
        z-index: 5;
    }

}

@keyframes hiddenblackanim2 {
    0%{opacity: 1;
    }
    
    
    100%{
        opacity: 1;
        transform: scale(10);
        height: 100%;
        top: 0%;
        z-index: 5;
    }
}

@keyframes byebyeaside {
    0%{

    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

on